{% extends 'base.html'%} {% block content %}
<form action="" method="POST">
{% csrf_token%}
    <div class="form-group">
        <label for="text">Username</label>
        <input type="text" class="form-control" name="username" placeholder="">
    </div>
    <div class="form-group">
        <label for="inputPassword">Password</label>
        <input type="password" class="form-control" name="inputPassword" placeholder="Password">
    </div>
    <div class="form-group">
        <label class="form-check-label"><input type="checkbox"> Remember me</label>
    </div>
    <button type="submit" class="btn btn-primary">Sign in</button>
</form>
{% endblock%}
