{% extends 'base.html'%} {% block content %}
<p id='head1' class='header'>Awesome designs</p>
<p id='head2' class='header'>Just</p>
<p id='head3' class='header'>For you</p>
<p id='head4' class='header'>simple and awesome all the time</p>
<p id='head5' class='header'>Welcome to Social App</p>
<button><a class="nav-item nav-link" href="{% url 'login'%}">LOGIN</a></button>
{% comment %} <button><a class="nav-item nav-link" href="{% url 'register'%}">Register</a></button> {% endcomment %}
  
{% endblock %}
