<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">SOCIAL APP</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNavAltMarkup"
    aria-controls="navbarNavAltMarkup"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home' %}"
        >Home <span class="sr-only">(current)</span></a
      >
      <a class="nav-item nav-link" href="{% url 'all_images'%}">All Images</a>
      <a class="nav-item nav-link" href="{% url 'login'%}">LOGIN</a>
      <a class="nav-item nav-link" href="{% url 'imageform'%}"> ADD IMAGE</a>
       <a class="nav-item nav-link" href="{% url 'profile'%}"> VIEWS PROFILE</a>
        <a class="nav-item nav-link" href="{% url 'user_logout' %}"> LOGOUT</a>
    </div>
     {% comment %} {% if user.is_authenticated %}
      <a href="#">Hi {{user.username}}</a>
       {% endif %} {% endcomment %}
  </div>
</nav>
