{%extends 'base.html'%} {% load static %} {% load crispy_forms_tags%}
 {% block content %}
 {% include 'navbar.html'%}
<center><h3>PROFILE</h3></center>
<div class="container" >
  <div class="row justify-content-around">
    <div class="col-4" id="hero-profile">
      <p>Avator:<img
        src="{{user.profile.avatar }}"
        {% comment %} class="img-responsive"
        style="width: 100%; float: left; margin-right: 50px" {% endcomment %}
        alt="..."
      /></p>
    </div>
    <div class="col-4" id="hero-profile">
      <h3>{{ user.username}}</h3>
      <p>Bio: {{ user.profile.bio }}</p>
      <p> Email: {{user.profile.email}}
    </div>
  </div>
  <center><a href="{% url 'profileform'%}" class="btn btn-warning">Update Profile</a></center>
</div>
{% endblock %}

