{%extends 'base.html'%} {% load static %} {% load crispy_forms_tags%}
 {% block content %}
<div class="container">
  <div class="jumbotron">
    <h1>profile</h1>
    <h3>{{ user.username}}</h3>
    <div class="col-md-4">
      <img
        src="{{profie.avatar.url }}"
        class="img-responsive"
        style="width: 100%; float: left; margin-right: 10px"
      />
      {{ profile.bio }}
    </div>
    {% comment %} <a href="{{ user.profile_photo}}"></a> {% endcomment %}
    <form action="" method="POST">
    {% csrf_token%}
    {{ u_form|crispy }}
    {{ p_form|crispy }}
    </form>
    <button type="submit" class="btn btn-block btn-success">Update Profile</button>
  </div>
</div>
{% endblock %}
