{% extends 'base.html'%} {% block content %}
{% include 'navbar.html'%}
<div class="p-4">
  <form action="{% url 'search'%}" method="POST">
    <div class="input-group">
      <div class="form-outline">
        <input
          id="search-focus"
          type="search"
          id="form1"
          name="category"
          class="form-control"
          placeholder="search..."
          style="border-radius: 0"
        />
        <label
          class="form-label"
          for="form1"
          placeholder="search image by name...."
        ></label>
      </div>
      <button
        type="submit"
        class="btn btn-primary btn-sm"
        style="max-height: 37px; border-radius: 0"
      >
        <i class="fas fa-search"></i>
      </button>
    </div>
  </form>
{% if user.is_authenticated %}
  <h1 class="all">All images</h1>
{%endif%}


<div class="container">
  <div class="card">
    <img src="{{images.image.url}}" class="card-img-top" alt="..." />
    <div class="card-body">
      <p class="card-text">
        <span class="bio">Caption:</span> {{images.caption}}
      </p>
      <a
            href="{% url 'home'%}delete_image/{{image.id}}"
            class="btn btn-danger"
            >delete</a
          >
    </div>
  </div>
</div>
    </div> 
    </div>

</div>
</div>
    <script
      src="https://code.jquery.com/jquery-3.6.0.min.js"
      integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
      crossorigin="anonymous"
    ></script>
    {% endblock%}


