{% extends 'base.html'%} {% block content %}
{% include 'navbar.html'%}
<center><h1>All images</h1>
<div class="container-1" >
  {% comment %} <div class='row'> {% endcomment %}
    {%if all_images %}
     
      {% comment %} <div class="col-md-4" > {% endcomment %}
        {% for image in all_images%}
        <div class="card  text-white bg-dark " style="width: 18rem;">
          <p><img src="{{image.images.url}}" class="card-img-top" alt="..." /></p>
        
          <div class="card-body">
            <h5 class="card-title">Name:</span> {{image.image_name}}</h5>
            <p class="card-text">Caption:</span> {{image.image_caption}}</p>
            <a href="{% url 'home'%}get_update/{{image.id}}"
                    class="btn btn-primary"
                    >Update</a>
                    <a
                    href="{% url 'home'%}delete_image/{{image.id}}"
                    class="btn btn-danger"
                    >delete</a>
          </div>
        </div>
      {% comment %} </div> {% endcomment %}
    {% endfor %}
    {%else%}
      <h3 class="text-warning m-3">No Images found</h3>
    {%endif%} 
  {% comment %} </div> {% endcomment %}
</div>
{% endblock%}

