{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<!--Login-->
<div class="container">
  <div class="hero-log">
    <h1 class='text-center'>Login</h1>
    <form method="POST" class='text-center'>
      {% csrf_token %} {{ login_form|crispy }}
      <button class="btn btn-warning" type="submit">Login</button>
      <p>Do you have an account? If <i>NO</i> <b><a class="nav-item nav-link" href="{% url 'register'%}">Register here</a></b></p>
    </form>
  </div>
</div>
{% endblock %}
