{% extends "base.html" %} {% block content %} {% load crispy_forms_tags %}

<!--Login-->
{% comment %} <div class="container"> {% endcomment %}
  <div id="hero-log">
    <h1 class='text-center'>Login</h1>
    <form method="POST" class='text-center'>
      {% csrf_token %} {{ login_form|crispy }}
      <button class="btn btn-warning" type="submit">Login</button>
      <p><b>Do you have an account?  </b><a class="nav-item nav-link" href="{% url 'register'%}">Register here</a></p>
    </form>
  </div>
{% comment %} </div> {% endcomment %}
{% endblock %}
