{% extends 'base.html'%} {% block content %}
<section class="hero-log">
  <h2 class="text-uppercase text-center mb-5">Create an account</h2>

  <form method="POST">
    {% csrf_token %}
    {{register_form.as_p}}
                  
    <button type="submit" class="btn btn-success  gradient-custom-4 text-body">Register</button>
  </form>
  {{form.errors}}
  <p class="text-center text-muted mt-5 mb-0">Have already an account?<a href="{% url 'login'%}">  Login</a> </p>
  
</section>
{% endblock %}

